/*
 * Interactive CSS editing
 * 
 * > systemctl stop waybar
 * > env GTK_DEBUG=interactive waybar 
 *
*/

#waybar {
  background-color: rgba(21, 21, 33, 0.85);
  color: #f5e0dc;
  border-bottom: none;
  font-family: JetBrainsMono;
}

.modules-left { background-color: transparent; }
.modules-center { background-color: transparent; }
.modules-right { background-color: transparent; }

#custom-launcher {
  background: rgba(21, 21, 33, 0.5);
  color: #6481d0;
  margin: 0px;
  padding: 5px 9px 5px 12px;
  font-size: 18px;
  transition: all 0.3s;
}

#custom-launcher:hover {
  background: rgba(21, 21, 33, 0.8);
}

#workspaces {
  margin: 4px 10px;
  border-radius: 5px;
}

#workspaces button {
  font-size: 18px;
  background-color: transparent;
  color: #b7bdf8;
  transition: all 0.1s ease;
  margin: 0;
  padding: 5px 7px;
  border-radius: 0;
  background: rgba(21, 21, 33, 0.3);
  transition: padding 0.6s;
}

#workspaces button:first-child { border-radius: 10px 0 0 10px; }
#workspaces button:last-child { border-radius: 0 10px 10px 0; }
#workspaces button:first-child:last-child { border-radius: 10px; }

#workspaces button.active {
  background-color: rgba(183, 189, 248, 0.6);
  color: rgba(21, 21, 33, 1.0);
  padding: 5px 15px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  border-color: transparent;
  background: rgba(21, 21, 33, 0.6);
}

#workspaces button.active:hover {
  background-color: rgba(183, 189, 248, 0.6);
}

#custom-expo {
  margin: 0;
  padding: 5px 8px;
  /* color: #6481d0; */
  color: #ffffff;
  font-size: 18px;
  transition: all 0.3s;
}

#custom-expo:hover {
  background: rgba(21, 21, 33, 0.5);
}

#custom-special {
  margin: 0;
  padding: 5px 8px;
  /* color: #6481d0; */
  color: #ffffff;
  font-size: 16px;
  transition: all 0.3s;
}

#custom-special:hover {
  background: rgba(21, 21, 33, 0.5);
}

#custom-groupies {
  margin: 0;
  padding: 5px 8px;
  /* color: #b7bdf8; */
  color: #ffffff;
  font-size: 18px;
  transition: all 0.3s;
  letter-spacing: -4px;
  font-size: 17px;
  font-family: monospace; 
}

#custom-groupies:hover {
  background: rgba(21, 21, 33, 0.5);
}


#window {
 font-size: 20px; 
}

#custom-power {
  color: #d05759;
  margin: 0;
  padding: 5px 10px 5px 20px;
}

#clock {
  margin: 0;
  padding: 5px 5px;
}

#tray {
  margin: 0;
  padding: 5px 20px;
}


#temperature {
  margin: 0;
  padding: 5px 10px;
}

#cpu {
  margin: 0;
  padding: 5px 10px;
}

#idle_inhibitor {
  margin: 0;
  padding: 5px 10px;
}

#custom-bluetooth {
  margin: 0;
  padding : 5px 6px;
}

#network {
  margin: 0;
  padding: 5px 10px;
}

#battery {
  color: #5fbf70;
  margin: 0;
  padding: 5px 10px;
}

* {
  font-size: 16px;
  min-height: 0;
  font-family: "Iosevka Nerd Font", "Material Design Icons Desktop", sans-serif;
}
