# [ ca ]
# default_ca = CA_default
#
# [CA_default]
# copy_extensions = copy
#
# [req]
# default_md=sha256
# prompt=no
# distinguished_name=req_distinguished_name
#
# [req_distinguished_name]
# commonName=$ENV::NAME
#
# [v3_ca]
# basicConstraints = CA:TRUE
# subjectKeyIdentifier = hash
# authorityKeyIdentifier = keyid:always,issuer
# keyUsage = nonRepudiation, digitalSignature, keyEncipherment
# subjectAltName = @alt_names
#
# [v3_req]
# basicConstraints = CA:FALSE
# subjectKeyIdentifier = hash
# authorityKeyIdentifier = keyid:always,issuer
# keyUsage = nonRepudiation, digitalSignature, keyEncipherment
# subjectAltName = @alt_names
#
# # [req_ext]
# # subjectKeyIdentifier=hash
# # # authorityKeyIdentifier=keyid,issuer
# # basicConstraints=CA:FALSE
# # keyUsage=digitalSignature,keyEncipherment
# # extendedKeyUsage=serverAuth,clientAuth
# # # subjectAltName = DNS:$ENV::NAME,DNS:*.$ENV::NAME
# # subjectAltName=@alt_names
#
# [alt_names]
# DNS.1=$ENV::NAME
# DNS.2=*.$ENV::NAME
# DNS.3=whoami.$ENV::NAME

[ req ]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
commonName = $ENV::NAME

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = $ENV::NAME
DNS.2 = *.$ENV::NAME

# [ req ]
# distinguished_name = req_distinguished_name
# req_extensions = v3_req
# prompt = no
#
# [ req_distinguished_name ]
# commonName = $ENV::NAME
#
# [ v3_ca ]
# basicConstraints = CA:TRUE
# subjectKeyIdentifier = hash
# authorityKeyIdentifier = keyid,issuer
#
# [ v3_req ]
# basicConstraints = CA:FALSE
# subjectKeyIdentifier = hash
# keyUsage = nonRepudiation, digitalSignature, keyEncipherment
# subjectAltName = @alt_names
#
# [ alt_names ]
# DNS.1 = $ENV::NAME
# DNS.2 = *.$ENV::NAME
