[Unit]
Description=Perform windows animations on focus
Documentation=https://github.com/fennerm/flashfocus
BindsTo=sway-session.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/bin/flashfocus
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=sway-session.target
