[Unit]
Description=libinput-gestures
Documentation=https://github.com/bulletmark/libinput-gestures
BindsTo=sway-session.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/bin/libinput-gestures
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=sway-session.target
