/*
 * Interactive CSS editing
 * 
 * > systemctl stop waybar
 * > env GTK_DEBUG=interactive waybar 
 *
*/

* {
  margin: 0;
  padding: 0;
  color: @base05;
  background: transparent;
  transition: all 0.3s ease;
}

window#waybar {
  background: alpha(@base00, 0.8);
  border-radius: 10px 10px 0 0;
  box-shadow: 0px -10px #000000;
}

tooltip {
  background: @base01;
}

.modules-left #custom-launcher {
  padding-left: 10px;
  padding-right: 8px;
  color: @base07;
}

.modules-left #workspaces {
  padding-left: 10px;
  padding-right: 10px;
}

.modules-left #workspaces button {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0;
}

.modules-left #workspaces button:first-child {
  border-radius: 10px 0 0 10px;
}

.modules-left #workspaces button:last-child {
  border-radius: 0 10px 10px 0;
}

.modules-left #workspaces button:first-child:last-child {
  border-radius: 10px;
}

.modules-left #workspaces button.active,
.modules-left #workspaces button.active:hover {
  background: @base02;
}

.modules-left #workspaces button:hover {
  background: alpha(@base02, 0.5);
}

.modules-center #clock {
  padding-left: 5px;
  padding-right: 5px;
}

.modules-center #custom-hidden.active {
  color: @base0D;
}

.modules-center #custom-screencast.active {
  color: @base08;
}

.modules-right #custom-tray {
  padding-right: 10px;
}

.modules-right #tray {
  padding-left: 10px;
  padding-right: 10px;
}

.modules-right #pulseaudio {
  padding-left: 10px;
  padding-right: 10px;
}

.modules-right #temperature {
  padding-left: 10px;
  padding-right: 10px;
}

.modules-right #cpu {
  padding-left: 5px;
  padding-right: 5px;
}

.modules-right #memory {
  padding-left: 5px;
  padding-right: 5px;
}

.modules-right #custom-bluetooth {
  padding-left: 10px;
  padding-right: 10px;
}

.modules-right #network {
  padding-left: 5px;
  padding-right: 5px;
}

.modules-right #battery {
  padding-left: 10px;
  padding-right: 10px;
  color: @base0B;
}

.modules-right #idle_inhibitor {
  padding-left: 10px;
  padding-right: 10px;
}

.modules-right #custom-power {
  padding-left: 20px;
  padding-right: 10px;
  color: @base09;
}
