/*
 * Interactive CSS editing
 * 
 * > systemctl stop waybar
 * > env GTK_DEBUG=interactive waybar 
 *
*/

* {
  font-size: 16px;
  min-height: 0;
}
window#waybar,
tooltip {
  background: alpha(@base00, 0.9);
}

.modules-left #custom-launcher {
  color: #ffffff;
  margin: 0px;
  padding: 5px 8px 5px 10px;
  font-size: 18px;
  transition: all 0.3s;
}

.modules-left #custom-launcher:hover {
  background: rgba(21, 21, 33, 0.8);
}

.modules-left #workspaces {
  padding: 5px 10px;
}

.modules-left #workspaces button,
.modules-left #workspaces button:hover,
.modules-left #workspaces button.active,
.modules-left #workspaces button.active:hover {
  padding: 0 7px;
  transition: all 0.3s ease;
}

.modules-left #workspaces button:first-child {
  border-radius: 10px 0 0 10px;
}
.modules-left #workspaces button:last-child {
  border-radius: 0 10px 10px 0;
}
.modules-left #workspaces button:first-child:last-child {
  border-radius: 10px;
}

.modules-left #workspaces button.active,
.modules-left #workspaces button.active:hover {
  background-color: @base02;
}

.modules-left #workspaces button:hover {
  background: alpha(@base02, 0.5);
}

.modules-center #custom-screencast.active {
  color: @base08;
}

#custom-power {
  color: #d05759;
  margin: 0;
  padding: 0 10px 0 20px;
}

#clock {
  margin: 0;
  padding: 0 5px;
}

#tray {
  margin: 0;
  padding: 0 10px;
}

#temperature {
  margin: 0;
  padding: 0 10px;
}

#cpu {
  margin: 0;
  padding: 0 10px;
}

#pulseaudio {
  margin: 0;
  padding: 0 10px;
}

#idle_inhibitor {
  margin: 0;
  padding: 0 10px;
}

#custom-bluetooth {
  margin: 0;
  padding: 0 6px;
}

#network {
  margin: 0;
  padding: 0 10px;
}

#battery {
  color: #5fbf70;
  margin: 0;
  padding: 0 10px;
}

#custom-tray {
  margin-right: 10px;
}
