/*
 * Interactive CSS editing
 * 
 * > systemctl stop waybar
 * > env GTK_DEBUG=interactive waybar 
 *
*/

* {
  font-size: 16px;
  min-height: 0;
}

#custom-launcher {
  color: #ffffff;
  margin: 0px;
  padding: 5px 8px 5px 10px;
  font-size: 18px;
  transition: all 0.3s;
}

#custom-launcher:hover {
  background: rgba(21, 21, 33, 0.8);
}

#workspaces {
  margin: 4px 10px;
  border-radius: 5px;
}

#workspaces button {
  font-size: 18px;
  /* background-color: transparent; */
  /* color: #b7bdf8; */
  transition: all 0.1s ease;
  margin: 0;
  padding: 5px 7px;
  border-radius: 0;
  /* background: rgba(21, 21, 33, 0.3); */
  transition: padding 0.6s;
}

#workspaces button.active {
  /* background-color: rgba(183, 189, 248, 0.6); */
  /* color: rgba(21, 21, 33, 1); */
  /* padding: 5px 15px; */
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  border-color: transparent;
  /* background: rgba(21, 21, 33, 0.6); */
}

#workspaces button.active:hover {
  /* background-color: rgba(183, 189, 248, 0.6); */
}

#window {
  font-size: 20px;
}

#custom-power {
  color: #d05759;
  margin: 0;
  padding: 5px 10px 5px 20px;
}

#clock {
  margin: 0;
  padding: 5px 5px;
}

#tray {
  margin: 0;
  padding: 5px 10px;
}

#temperature {
  margin: 0;
  padding: 5px 10px;
}

#cpu {
  margin: 0;
  padding: 5px 10px;
}

#pulseaudio {
  margin: 0;
  padding: 5px 20px 5px 10px;
}

#idle_inhibitor {
  margin: 0;
  padding: 5px 10px;
}

#custom-bluetooth {
  margin: 0;
  padding: 5px 6px;
}

#network {
  margin: 0;
  padding: 5px 10px;
}

#battery {
  color: #5fbf70;
  margin: 0;
  padding: 5px 10px;
}

#custom-tray {
  margin-right: 10px;
}

.modules-left #workspaces button,
.modules-left #workspaces button.focused,
.modules-left #workspaces button.active {
  border-bottom: 0px;
}
