* {
  transition: 200ms ease-out;
  font-family: Lexend;
  font-size: 1.1rem;
}

#window,
#match,
#entry,
#plugin,
#main {
  background: transparent;
  color: #fff;
}

#match:selected {
  background: rgba(203, 166, 247, 0.7);
}

#match {
  padding: 3px;
  border-radius: 16px;
}

#entry {
  border-radius: 16px;
}

box#main {
  background: rgba(30, 30, 46, 0.7);
  border: 1px solid #28283d;
  border-radius: 24px;
  padding: 8px;
  color: #fff;
}

row:first-child {
  margin-top: 6px;
}
